# DS/CMPSC 410 Spring 2024
# Instructor: Professor Romit Maulik
# TAs: Peng Jin, Haiwen Guan

# Project Test: Loading in Data and storing in DataFrame

### Brian Ellis

## The first thing we need to do in each Jupyter Notebook running pyspark is to import pyspark first.

In [1]:
import pyspark

### Once we import pyspark, we need to use a `SparkContext`.  Every spark program needs a SparkContext object
### In order to use DataFrames, we also need to import `SparkSession` from `pyspark.sql`

In [2]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.types import StructField, StructType, StringType, LongType, IntegerType, FloatType
from pyspark.sql.functions import col, column
from pyspark.sql.functions import expr
from pyspark.sql.functions import split
from pyspark.sql import Row

## We then create a Spark Session variable (rather than Spark Context) in order to use DataFrame. 
- Note: We temporarily use "local" as the parameter for master in this notebook so that we can test it in ICDS Roar Collab.  However, we need to remove "local" as usual to submit it to ICDS in cluster model (here make sure you remove ".master("local")" completely

In [3]:
ss=SparkSession.builder.master("local").appName("Project Test").getOrCreate()

In [4]:
ss.sparkContext.setCheckpointDir("~/scratch")

In [38]:
# # Clone repository
# !git clone https://brianellis1997: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@github.com/brianellis1997/Sarcasm_PySpark.git

shell-init: error retrieving current directory: getcwd: cannot access parent directories: No such file or directory
fatal: could not create work tree dir 'Sarcasm_PySpark': Stale file handle

## Load Data

In [5]:
# rating_schema = StructType([ StructField("UserID", IntegerType(), False ), \
#                             StructField("MovieID", IntegerType(), True), \
#                             StructField("Rating", FloatType(), True ), \
#                             StructField("RatingID", IntegerType(), True ), \
#                            ])

In [40]:
train = ss.read.csv("/storage/home/bje5256/work/Project/Train_Balanced.csv", header=True, inferSchema=True)
# In the cluster mode, we need to change to  `header=False` because it does not have header.

In [41]:
train.show()

+------+-----+--------------------+-------------------+-----------------+-----+---+-----+----------+-------------------+--------------------+
|   _c0|label|             comment|             author|        subreddit|score|ups|downs|      date|        created_utc|      parent_comment|
+------+-----+--------------------+-------------------+-----------------+-----+---+-----+----------+-------------------+--------------------+
|522142|    0|I personally wasn...|        cromemako83|        AskReddit|    2|  2|    0|2015-07-01|2015-07-11 01:55:53|Fuck Vol'jin. Gar...|
|907864|    1|      you forgot the|        _SharkWeek_|        AskReddit|    1|  1|    0|2013-03-01|2013-03-14 03:03:46|That's a lie fed ...|
|604170|    1|Nah man, she's cl...|          jdswift13|  leagueoflegends|    1|  1|    0|2015-10-01|2015-10-21 23:22:17|   she isnt already?|
|110635|    1|This sub in a nut...|          trickz-M-|  GlobalOffensive|    1| -1|   -1|2016-12-01|2016-12-05 03:50:18|Cloud 9 Qualify! ...|
|997758|    0|        Yes... I do.|          guriboysf|           videos|    4|  4|    0|2010-01-01|2010-01-17 21:32:40|               """so|
| 89630|    1|  But but mushrooms!|CorrugatedCommodity|           movies|    0|  0|    0|2016-09-01|2016-09-02 15:57:33|Last of us would ...|
|967693|    0|Because there's w...|         Paladin327|    AdviceAnimals|    1|  1|    0|2013-08-01|2013-08-22 08:04:33|Closer to Victori...|
| 62082|    0|I wish I had half...|             Malkev|       confession|    1| -1|   -1|2016-11-01|2016-11-17 13:55:18|      Barney Stinson|
|479958|    0|Do you see the Sy...|           form_d_k|UkrainianConflict|    0|  0|    0|2016-04-01|2016-04-26 19:52:07|"Just one questio...|
|934191|    1|You must HATE ALL...|            Blemish|     reactiongifs|    3|  3|    0|2013-07-01|2013-07-06 10:05:56|it's hilarious. J...|
|451474|    0|NRA, the supporte...| -who_is_john_galt-|      GunsAreCool|   19| 19|    0|2016-01-01|2016-01-19 20:36:49|Montana man who t...|
|591467|    1|That's offensive,...|  Shinnycharsiewpau|    AdviceAnimals|  -29|-29|    0|2015-12-01|2015-12-19 22:15:53|Fuck this gay earth.|
|716511|    1|FTFY Yeah fuck th...|          MrGibbs04| PeopleBeingJerks|    1|  1|    0|2015-06-01|2015-06-27 20:48:36|Yeah fuck those g...|
|748748|    0|Working for the TSA.|            gildoth|        AskReddit|    1|  1|    0|2015-03-01|2015-03-19 01:57:56|What's a job that...|
|372418|    1|Well, that's such...|           Casemods|  OffensiveSpeech|    4|  4|    0|2015-11-01|2015-11-23 07:56:29|"I'm really getti...|
|498063|    0|Show population s...|         trenescese|     paradoxplaza|    1|  1|    0|2016-02-01|2016-02-15 05:56:14|  Grand Duchy lives!|
|321200|    1|I got a tick stuc...|      szogun_poland|        worldnews|    1|  1|    0|2016-06-01|2016-06-11 15:03:34|Ticks. Fuck ticks...|
|315763|    0|Still with Asus a...|        slothzillaz|     pcmasterrace|    3|  3|    0|2016-08-01|2016-08-14 11:04:48|I would have, but...|
|384252|    0|He said continue ...|          thorscope|          Fitness|    9|  9|    0|2016-02-01|2016-02-22 23:17:45|Do you stop after...|
|  4769|    1|Rito is one step ...|         TakoMakura|  leagueoflegends|    1| -1|   -1|2016-11-01|2016-11-19 01:37:53|Ace of the mounta...|
+------+-----+--------------------+-------------------+-----------------+-----+---+-----+----------+-------------------+--------------------+
only showing top 20 rows

In [42]:
train.count()

808618

In [43]:
train.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- label: integer (nullable = true)
 |-- comment: string (nullable = true)
 |-- author: string (nullable = true)
 |-- subreddit: string (nullable = true)
 |-- score: string (nullable = true)
 |-- ups: string (nullable = true)
 |-- downs: string (nullable = true)
 |-- date: string (nullable = true)
 |-- created_utc: string (nullable = true)
 |-- parent_comment: string (nullable = true)

## Subsample for editing in Local Mode

In [44]:
# Sample 10% of the DataFrame
df = train.sample(withReplacement=False, fraction=0.1, seed=42)

In [45]:
df.show(5)

+------+-----+--------------------+----------------+-------------------+-----+---+-----+----------+-------------------+--------------------+
|   _c0|label|             comment|          author|          subreddit|score|ups|downs|      date|        created_utc|      parent_comment|
+------+-----+--------------------+----------------+-------------------+-----+---+-----+----------+-------------------+--------------------+
| 62082|    0|I wish I had half...|          Malkev|         confession|    1| -1|   -1|2016-11-01|2016-11-17 13:55:18|      Barney Stinson|
|321200|    1|I got a tick stuc...|   szogun_poland|          worldnews|    1|  1|    0|2016-06-01|2016-06-11 15:03:34|Ticks. Fuck ticks...|
|384252|    0|He said continue ...|       thorscope|            Fitness|    9|  9|    0|2016-02-01|2016-02-22 23:17:45|Do you stop after...|
|352199|    1|Of course not, th...|Samhoustoneggers|           politics|    3|  3|    0|2016-06-01|2016-06-02 03:38:52|US Court: Police ...|
|121717|    0|                WOAH|  godzilla813105|fivenightsatfreddys|    1| -1|   -1|2016-12-01|2016-12-09 19:46:09|CITRUS BABY, WITH...|
+------+-----+--------------------+----------------+-------------------+-----+---+-----+----------+-------------------+--------------------+
only showing top 5 rows

In [46]:
df.count()

80796

## Text only

In [86]:
comment = df.select("comment")
comment.take(3)

[Row(comment='I wish I had half their confidence.'),
 Row(comment='I got a tick stuck in my peehole'),
 Row(comment="He said continue the process until there's no time left")]

In [87]:
parent_comment = df.select('parent_comment')
parent_comment.take(3)

[Row(parent_comment='Barney Stinson'),
 Row(parent_comment="Ticks. Fuck ticks. They might be a food source but literally that's it. And they aren't even a vital food source."),
 Row(parent_comment='Do you stop after 1:30 or continue to 1:00 and then :30 ?')]

In [88]:
rdd_1 = comment.rdd
rdd_2 = parent_comment.rdd

In [89]:
comment_flat = rdd_1.flatMap(lambda x: x['comment'].lower().split(' '))
comment_flat.take(3)

['i', 'wish', 'i']

In [90]:
# Remove small words
min_length = 8
tokens_rdd = comment_flat.filter(lambda line: len(line) > min_length)

In [92]:
# Count each word
num_partitions = 5
kvRDD = tokens_rdd.map(lambda x: (x, 1))
kvRDD_reduced = kvRDD.reduceByKey(lambda x, y: x+y)

In [93]:
kvRDD_reduced.take(3)

[('confidence.', 5), ('stellaris', 1), ('pedantic.', 2)]

In [94]:
# Sort by most common words
kvRDD_sorted = kvRDD_reduced.sortBy(lambda x: x[1], ascending=False)

In [95]:
kvRDD_sorted.take(10)

[('something', 790),
 ('obviously', 685),
 ('gjallarhorn', 617),
 ('definitely', 390),
 ('everything', 345),
 ('different', 299),
 ('literally', 277),
 ('understand', 252),
 ('government', 242),
 ('completely', 220)]

## Sarcastic vs Non-Sarcastic counts

Now that we know how to filter words based on length and sort by words based on prevelance, let's compare the counts of unique words in sarcastic and non-sarcastic comments respectivelY and see if there's a difference.

In [78]:
sarcastic = df[df['label']==1]
sarcastic.count()

40371

In [79]:
non_sarcastic = df[df['label']==0]
non_sarcastic.count()

40425

In [80]:
sarc_comment = sarcastic.select("comment")
sarc_comment.take(3)

[Row(comment='I got a tick stuck in my peehole'),
 Row(comment='Of course not, they should have full unfettered access to our conversations'),
 Row(comment='Because nobody plays Stellaris anymore')]

In [99]:
non_sarc_comment = non_sarcastic.select('comment')
non_sarc_comment.take(3)

[Row(comment='I wish I had half their confidence.'),
 Row(comment="He said continue the process until there's no time left"),
 Row(comment='WOAH')]

ERROR! Session/line number was not unique in database. History logging moved to new session 90

In [100]:
rdd_1 = sarc_comment.rdd
rdd_2 = non_sarc_comment.rdd

In [101]:
sarc_flat = rdd_1.flatMap(lambda x: x['comment'].lower().split(' '))
non_sarc_flat = rdd_2.flatMap(lambda x: x['comment'].lower().split(' '))

In [102]:
sarc_flat.take(3)

['i', 'got', 'a']

In [103]:
non_sarc_flat.take(3)

['i', 'wish', 'i']

In [104]:
# Remove small words
min_length = 8
sarc_tokens_rdd = sarc_flat.filter(lambda line: len(line) > min_length)
non_sarc_tokens_rdd = non_sarc_flat.filter(lambda line: len(line) > min_length)

In [105]:
# Count each word for sarcastic and non-sarcastic respectively
num_partitions = 5
sarc_kvRDD = sarc_tokens_rdd.map(lambda x: (x, 1))
sarc_kvRDD_reduced = sarc_kvRDD.reduceByKey(lambda x, y: x+y)

non_sarc_kvRDD = non_sarc_tokens_rdd.map(lambda x: (x, 1))
non_sarc_kvRDD_reduced = non_sarc_kvRDD.reduceByKey(lambda x, y: x+y)

ERROR! Session/line number was not unique in database. History logging moved to new session 91

In [106]:
sarc_kvRDD_reduced.take(3)

[('stellaris', 1), ('pedantic.', 2), ('everything', 208)]

In [107]:
non_sarc_kvRDD_reduced.take(3)

[('confidence.', 3), ('disagree,', 8), ('favorite.', 3)]

In [108]:
# Sort by most common words
sarc_kvRDD_sorted = sarc_kvRDD_reduced.sortBy(lambda x: x[1], ascending=False)
non_sarc_kvRDD_sorted = non_sarc_kvRDD_reduced.sortBy(lambda x: x[1], ascending=False)

In [109]:
# Sarcastic words
sarc_kvRDD_sorted.take(10)

[('obviously', 620),
 ('something', 357),
 ('definitely', 237),
 ('everything', 208),
 ('government', 163),
 ('literally', 156),
 ('completely', 140),
 ('understand', 128),
 ('different', 124),
 ("shouldn't", 112)]

In [110]:
# Non-Sarcastic words
non_sarc_kvRDD_sorted.take(10)

[('gjallarhorn', 616),
 ('something', 433),
 ('different', 175),
 ('definitely', 153),
 ('everything', 137),
 ('understand', 124),
 ('literally', 121),
 ('basically', 87),
 ('completely', 80),
 ('government', 79)]

We see some differences between the most common sarcastic vs. non-sarcastic words. The most frequent non-sarcastic word is a reference to a person 'Gjallarhorn' and the most frequent sarcastic word is 'obviously'.

In [7]:
movie_schema = StructType([ StructField("MovieID", IntegerType(), False), \
                            StructField("MovieTitle", StringType(), True ), \
                            StructField("Genres", StringType(), True ), \
                           ])

In [8]:
movies_DF = ss.read.csv("/storage/home/bje5256/work/Lab5/movies_2.csv", schema=movie_schema, header=True, inferSchema=False)
# In the cluster mode, we need to change to `header=False` because it does not have header.

In [9]:
movies_DF.printSchema()

root
 |-- MovieID: integer (nullable = true)
 |-- MovieTitle: string (nullable = true)
 |-- Genres: string (nullable = true)

In [10]:
movies_DF.show(10)

+-------+--------------------+--------------------+
|MovieID|          MovieTitle|              Genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
+-------+--------------------+--------------------+
only showing top 10 rows

In [11]:
movies_genres_DF = movies_DF.select("MovieID","Genres")

In [12]:
movies_genres_rdd = movies_genres_DF.rdd

In [13]:
movies_genres_rdd.take(3)

[Row(MovieID=1, Genres='Adventure|Animation|Children|Comedy|Fantasy'),
 Row(MovieID=2, Genres='Adventure|Children|Fantasy'),
 Row(MovieID=3, Genres='Comedy|Romance')]

In [14]:
movies_genres2_rdd = movies_genres_rdd.flatMap(lambda x: x['Genres'].split('|'))

In [15]:
movies_genres2_rdd.take(3)

['Adventure', 'Animation', 'Children']

In [16]:
movies_genres3_rdd = movies_genres2_rdd.map(lambda x: (x, 1))

In [17]:
movies_genres_count_rdd = movies_genres3_rdd.reduceByKey(lambda x, y: x+y)

In [18]:
movies_genres_count_rdd.take(10)

[('Adventure', 1117),
 ('Animation', 447),
 ('Children', 583),
 ('Comedy', 3315),
 ('Fantasy', 654),
 ('Romance', 1545),
 ('Drama', 4365),
 ('Action', 1545),
 ('Crime', 1100),
 ('Thriller', 1729)]

In [19]:
movies_genres_count_rdd.saveAsTextFile("/storage/home/bje5256/work/Lab5/MovieGenres_count.txt")

In [20]:
ratings_DF.printSchema()

root
 |-- UserID: integer (nullable = true)
 |-- MovieID: integer (nullable = true)
 |-- Rating: float (nullable = true)
 |-- RatingID: integer (nullable = true)

In [21]:
ratings_DF.show(5)

+------+-------+------+----------+
|UserID|MovieID|Rating|  RatingID|
+------+-------+------+----------+
|     1|     31|   2.5|1260759144|
|     1|   1029|   3.0|1260759179|
|     1|   1061|   3.0|1260759182|
|     1|   1129|   2.0|1260759185|
|     1|   1172|   4.0|1260759205|
+------+-------+------+----------+
only showing top 5 rows

# 2. DataFrame Transformations
DataFrames in Spark provides higher-level transformations that are convenient for selecting rows, columns, and for creating new columns.  These transformations are part of Spark SQL.

## 2.1 `where` DF Transformation for Filtering/Selecting Rows
Select rows from a DataFrame (DF) that satisfy a condition.  This is similar to "WHERE" clause in SQL query languages.
- One important difference (compared to SQL) is we need to add `col( ...)` when referring to a column name. 
- The condition inside `where` transformation can be an equality test, `>` test, or '<' test, as illustrated below.

# `show` DF action
The `show` DF action is similar to `take` RDD action. It takes a number as a parameter, which is the number of elements to be randomly selected from the DF to be displayed.

In [23]:
movies_DF.where(movies_DF["MovieTitle"] == "Toy Story (1995)").show(truncate=False)

+-------+----------------+-------------------------------------------+
|MovieID|MovieTitle      |Genres                                     |
+-------+----------------+-------------------------------------------+
|1      |Toy Story (1995)|Adventure|Animation|Children|Comedy|Fantasy|
+-------+----------------+-------------------------------------------+

In [24]:
ratings_DF.where(ratings_DF["Rating"] > 3).show(5, truncate=False)

+------+-------+------+----------+
|UserID|MovieID|Rating|RatingID  |
+------+-------+------+----------+
|1     |1172   |4.0   |1260759205|
|1     |1339   |3.5   |1260759125|
|1     |1953   |4.0   |1260759191|
|1     |2105   |4.0   |1260759139|
|2     |10     |4.0   |835355493 |
+------+-------+------+----------+
only showing top 5 rows

# `count` DF action
The `count` action returns the total number of elements in the input DataFrame.

In [25]:
ratings_DF.filter(4 < ratings_DF["Rating"]).count()

22818

In [26]:
ratings_DF.filter(4 >= ratings_DF['Rating']).count()

77186

# Exercise 2 (10 points) Filtering DF Rows
### Complete the following statement to (1) select the `ratings_DF` DataFrame for reviews that are exactly 5, and (2) count the total number of such reviews.

In [29]:
review_5_count = ratings_DF.where(ratings_DF['Rating'] == 5).count()
print(f'There are {review_5_count} 5 star reviews')

There are 15095 5 star reviews

## 2.2 DataFrame Transformation for Selecting Columns

DataFrame transformation `select` is similar to the projection operation in SQL: it returns a DataFrame that contains all of the columns selected.

In [31]:
movies_DF.select("MovieTitle").show(5, truncate=False)

+----------------------------------+
|MovieTitle                        |
+----------------------------------+
|Toy Story (1995)                  |
|Jumanji (1995)                    |
|Grumpier Old Men (1995)           |
|Waiting to Exhale (1995)          |
|Father of the Bride Part II (1995)|
+----------------------------------+
only showing top 5 rows

In [32]:
movies_DF.select(col("MovieTitle")).show(5, truncate=False)

+----------------------------------+
|MovieTitle                        |
+----------------------------------+
|Toy Story (1995)                  |
|Jumanji (1995)                    |
|Grumpier Old Men (1995)           |
|Waiting to Exhale (1995)          |
|Father of the Bride Part II (1995)|
+----------------------------------+
only showing top 5 rows

# Exercise 3 (5 points) Selecting DF Columns
## Complete the following PySpark statement to (1) select only `MovieID` and `Rating` columns, and (2) save it in a DataFrame called `movie_rating_DF`.

In [35]:
movie_rating_DF = ratings_DF.select(['MovieID', 'Rating'])

In [36]:
movie_rating_DF.show(5)

+-------+------+
|MovieID|Rating|
+-------+------+
|     31|   2.5|
|   1029|   3.0|
|   1061|   3.0|
|   1129|   2.0|
|   1172|   4.0|
+-------+------+
only showing top 5 rows

# 2.3 Statistical Summary of Numerical Columns
DataFrame provides a `describe` method that provides a summary of basic statistical information (e.g., count, mean, standard deviation, min, max) for numerical columns.

In [37]:
ratings_DF.describe().show()

+-------+------------------+------------------+------------------+--------------------+
|summary|            UserID|           MovieID|            Rating|            RatingID|
+-------+------------------+------------------+------------------+--------------------+
|  count|            100004|            100004|            100004|              100004|
|   mean| 347.0113095476181|12548.664363425463| 3.543608255669773|1.1296390869392424E9|
| stddev|195.16383797819535|26369.198968815268|1.0580641091070326|1.9168582602710962E8|
|    min|                 1|                 1|               0.5|           789652009|
|    max|               671|            163949|               5.0|          1476640644|
+-------+------------------+------------------+------------------+--------------------+

## RDD has a histogram method to compute the total number of rows in each "bucket".
The code below selects the Rating column from `ratings_DF`, converts it to an RDD, which maps to extract the rating value for each row, which is used to compute the total number of reviews in 5 buckets.

In [38]:
ratings_DF.select(col("Rating")).rdd.map(lambda row: row[0]).histogram([0,1,2,3,4,5,6])

([0, 1, 2, 3, 4, 5, 6], [1101, 5013, 11720, 30602, 36473, 15095])

# 3. Transforming the Genres Column into Array of Genres 
## We want transform a column Generes, which represent all Generes of a movie using a string that uses "|" to connect the Generes so that we can later filter for movies of a Genere more efficiently.
## This transformation can be done using `split` Spark SQL function (which is different from python `split` function)

In [40]:
Splitted_Generes_DF= movies_DF.select(split(col("Genres"), '\|'))
Splitted_Generes_DF.show(5, truncate=False)

+-------------------------------------------------+
|split(Genres, \|, -1)                            |
+-------------------------------------------------+
|[Adventure, Animation, Children, Comedy, Fantasy]|
|[Adventure, Children, Fantasy]                   |
|[Comedy, Romance]                                |
|[Comedy, Drama, Romance]                         |
|[Comedy]                                         |
+-------------------------------------------------+
only showing top 5 rows

## 3.1 Adding a Column to a DataFrame using withColumn

# `withColumn` DF Transformation

We often need to transform content of a column into another column. For example, it is desirable to transform the column Genres in the movies DataFrame into an `Array` of genres that each movie belongs, we can do this using the DataFrame method `withColumn`.

### Creates a new column called "Genres_Array", whose values are arrays of genres for each movie, obtained by splitting the column value of "Genres" for each row (movie).

In [41]:
moviesG2_DF= movies_DF.withColumn("Genres_Array",split("Genres", '\|') )

In [42]:
moviesG2_DF.printSchema()

root
 |-- MovieID: integer (nullable = true)
 |-- MovieTitle: string (nullable = true)
 |-- Genres: string (nullable = true)
 |-- Genres_Array: array (nullable = true)
 |    |-- element: string (containsNull = false)

In [43]:
moviesG2_DF.show(5, truncate=False)

+-------+----------------------------------+-------------------------------------------+-------------------------------------------------+
|MovieID|MovieTitle                        |Genres                                     |Genres_Array                                     |
+-------+----------------------------------+-------------------------------------------+-------------------------------------------------+
|1      |Toy Story (1995)                  |Adventure|Animation|Children|Comedy|Fantasy|[Adventure, Animation, Children, Comedy, Fantasy]|
|2      |Jumanji (1995)                    |Adventure|Children|Fantasy                 |[Adventure, Children, Fantasy]                   |
|3      |Grumpier Old Men (1995)           |Comedy|Romance                             |[Comedy, Romance]                                |
|4      |Waiting to Exhale (1995)          |Comedy|Drama|Romance                       |[Comedy, Drama, Romance]                         |
|5      |Father of the Bride Part II (1995)|Comedy                                     |[Comedy]                                         |
+-------+----------------------------------+-------------------------------------------+-------------------------------------------------+
only showing top 5 rows

# Exercise 4 (10 points)
Complete the code below to select all movies in a genre of your choice.

In [44]:
from pyspark.sql.functions import array_contains
movies_your_genre_DF = moviesG2_DF.filter(array_contains(moviesG2_DF["Genres_Array"], 'Comedy' ))

In [45]:
movies_your_genre_DF.show(5, truncate=False)

+-------+----------------------------------+-------------------------------------------+-------------------------------------------------+
|MovieID|MovieTitle                        |Genres                                     |Genres_Array                                     |
+-------+----------------------------------+-------------------------------------------+-------------------------------------------------+
|1      |Toy Story (1995)                  |Adventure|Animation|Children|Comedy|Fantasy|[Adventure, Animation, Children, Comedy, Fantasy]|
|3      |Grumpier Old Men (1995)           |Comedy|Romance                             |[Comedy, Romance]                                |
|4      |Waiting to Exhale (1995)          |Comedy|Drama|Romance                       |[Comedy, Drama, Romance]                         |
|5      |Father of the Bride Part II (1995)|Comedy                                     |[Comedy]                                         |
|7      |Sabrina (1995)                    |Comedy|Romance                             |[Comedy, Romance]                                |
+-------+----------------------------------+-------------------------------------------+-------------------------------------------------+
only showing top 5 rows

# An DF-based approach to compute Average Movie Ratings and Total Count of Reviews for each movie.

# `groupBy` DF transformation
Takes a column name (string) as the parameter, the transformation groups rows of the DF based on the column.  All rows with the same value for the column is grouped together.  The result of groupBy transformation is often folled by an aggregation across all rows in the same group.  

# `sum` DF transformation
Takes a column name (string) as the parameter. This is typically used after `groupBy` DF transformation, `sum` adds the content of the input column of all rows in the same group.

# `count` DF transformation
Returns the number of rows in the DataFrame.  When `count` is used after `groupBy`, it returns a DataFrame with a column called "count" that contains the total number of rows for each group generated by the `groupBy`.

In [46]:
Movie_RatingSum_DF = ratings_DF.groupBy("MovieID").sum("Rating")

In [47]:
Movie_RatingSum_DF.show(4, truncate=False)

+-------+-----------+
|MovieID|sum(Rating)|
+-------+-----------+
|1580   |696.0      |
|2659   |12.0       |
|3794   |17.0       |
|3175   |228.0      |
+-------+-----------+
only showing top 4 rows

# Exercise 5 (5 points)
Complete the code below to calculate the total number of reviews for each movies.

In [48]:
Movie_RatingCount_DF = ratings_DF.groupBy("MovieID").count()

In [49]:
Movie_RatingCount_DF.show(4)

+-------+-----+
|MovieID|count|
+-------+-----+
|   1580|  190|
|   2659|    3|
|   3794|    5|
|   3175|   65|
+-------+-----+
only showing top 4 rows

# 5. Join Transformation on Two DataFrames

# Exercise 6 (10 points)
Complete the code below to (1) perform DF-based inner join on the column MovieID, and (2) calculate the average rating for each movie.

In [50]:
Movie_Rating_Sum_Count_DF = Movie_RatingSum_DF.join(Movie_RatingCount_DF, 'MovieID', 'inner')

In [51]:
Movie_Rating_Sum_Count_DF.show(4, truncate=False)

+-------+-----------+-----+
|MovieID|sum(Rating)|count|
+-------+-----------+-----+
|1580   |696.0      |190  |
|2659   |12.0       |3    |
|3794   |17.0       |5    |
|3175   |228.0      |65   |
+-------+-----------+-----+
only showing top 4 rows

In [56]:
Movie_Rating_Count_Avg_DF = Movie_Rating_Sum_Count_DF.withColumn("AvgRating", (Movie_Rating_Sum_Count_DF['sum(Rating)'] / Movie_Rating_Sum_Count_DF['count']) )

In [57]:
Movie_Rating_Count_Avg_DF.show(4)

+-------+-----------+-----+------------------+
|MovieID|sum(Rating)|count|         AvgRating|
+-------+-----------+-----+------------------+
|   1580|      696.0|  190| 3.663157894736842|
|   2659|       12.0|    3|               4.0|
|   3794|       17.0|    5|               3.4|
|   3175|      228.0|   65|3.5076923076923077|
+-------+-----------+-----+------------------+
only showing top 4 rows

##  Next, we want to join the avg_rating_total_review_DF with moviesG2_DF

In [58]:
joined_DF = Movie_Rating_Count_Avg_DF.join(moviesG2_DF,'MovieID', 'inner')

In [59]:
moviesG2_DF.printSchema()

root
 |-- MovieID: integer (nullable = true)
 |-- MovieTitle: string (nullable = true)
 |-- Genres: string (nullable = true)
 |-- Genres_Array: array (nullable = true)
 |    |-- element: string (containsNull = false)

In [60]:
joined_DF.printSchema()

root
 |-- MovieID: integer (nullable = true)
 |-- sum(Rating): double (nullable = true)
 |-- count: long (nullable = false)
 |-- AvgRating: double (nullable = true)
 |-- MovieTitle: string (nullable = true)
 |-- Genres: string (nullable = true)
 |-- Genres_Array: array (nullable = true)
 |    |-- element: string (containsNull = false)

In [61]:
joined_DF.show(4, truncate=False)

+-------+-----------+-----+------------------+--------------------------------+-----------------------+---------------------------+
|MovieID|sum(Rating)|count|AvgRating         |MovieTitle                      |Genres                 |Genres_Array               |
+-------+-----------+-----+------------------+--------------------------------+-----------------------+---------------------------+
|1580   |696.0      |190  |3.663157894736842 |Men in Black (a.k.a. MIB) (1997)|Action|Comedy|Sci-Fi   |[Action, Comedy, Sci-Fi]   |
|2659   |12.0       |3    |4.0               |It Came from Hollywood (1982)   |Comedy|Documentary     |[Comedy, Documentary]      |
|3794   |17.0       |5    |3.4               |Chuck & Buck (2000)             |Comedy|Drama           |[Comedy, Drama]            |
|3175   |228.0      |65   |3.5076923076923077|Galaxy Quest (1999)             |Adventure|Comedy|Sci-Fi|[Adventure, Comedy, Sci-Fi]|
+-------+-----------+-----+------------------+--------------------------------+-----------------------+---------------------------+
only showing top 4 rows

# 6. Filter DataFrame on an Array Column of DataFrame Using `array_contains`

## Exercise 7 (10 points)
Complete the following code to filter for a genre of your choice.

In [62]:
from pyspark.sql.functions import array_contains
SelectGenreAvgRating_DF = joined_DF.filter(array_contains('Genres_Array', \
                                               'Comedy')).select("MovieID","AvgRating","count","MovieTitle")

In [63]:
SelectGenreAvgRating_DF.show(5, truncate=False)

+-------+------------------+-----+--------------------------------+
|MovieID|AvgRating         |count|MovieTitle                      |
+-------+------------------+-----+--------------------------------+
|1580   |3.663157894736842 |190  |Men in Black (a.k.a. MIB) (1997)|
|2659   |4.0               |3    |It Came from Hollywood (1982)   |
|3794   |3.4               |5    |Chuck & Buck (2000)             |
|3175   |3.5076923076923077|65   |Galaxy Quest (1999)             |
|471    |3.877551020408163 |49   |Hudsucker Proxy, The (1994)     |
+-------+------------------+-----+--------------------------------+
only showing top 5 rows

In [64]:
SelectGenreAvgRating_DF.count()

3307

In [65]:
SelectGenreAvgRating_DF.describe().show()

+-------+------------------+------------------+------------------+--------------------+
|summary|           MovieID|         AvgRating|             count|          MovieTitle|
+-------+------------------+------------------+------------------+--------------------+
|  count|              3307|              3307|              3307|                3307|
|   mean|30277.501663138795| 3.190353163648426|11.498639250075597|                NULL|
| stddev|  40111.1391405288|0.8910523473881353|23.795030821491128|                NULL|
|    min|                 1|               0.5|                 1|'Hellboy': The Se...|
|    max|            160567|               5.0|               341| nous la libert...|
+-------+------------------+------------------+------------------+--------------------+

In [66]:
SortedSelectGenreAvgRating_DF = SelectGenreAvgRating_DF.orderBy('AvgRating', ascending=False)

In [67]:
SortedSelectGenreAvgRating_DF.show(10)

+-------+---------+-----+--------------------+
|MovieID|AvgRating|count|          MovieTitle|
+-------+---------+-----+--------------------+
|   4796|      5.0|    1|Grass Is Greener,...|
| 140749|      5.0|    1| 29th and Gay (2005)|
|  26501|      5.0|    1|    Choose Me (1984)|
|  95313|      5.0|    1|Jack-Jack Attack ...|
|  61250|      5.0|    1|House Bunny, The ...|
|    183|      5.0|    1| Mute Witness (1994)|
|    876|      5.0|    1|Supercop 2 (Proje...|
|   8123|      5.0|    1|Sammy and Rosie G...|
|  91690|      5.0|    1|Friends with Kids...|
|   6342|      5.0|    1|    Trip, The (2002)|
+-------+---------+-----+--------------------+
only showing top 10 rows

# Exercise 8 (10 points)
Use DataFrame method `where` or `filter` to find all movies (in your choice of genre) that have more than 10 reviews (change this to 100 for the cluster mode).

In [68]:
SortedFilteredSelectGenreAvgRating_DF = SortedSelectGenreAvgRating_DF.where(SortedSelectGenreAvgRating_DF['count'] > 10)

In [69]:
SortedFilteredSelectGenreAvgRating_DF.show(5, truncate=False)

+-------+-----------------+-----+----------------------------+
|MovieID|AvgRating        |count|MovieTitle                  |
+-------+-----------------+-----+----------------------------+
|1948   |4.458333333333333|12   |Tom Jones (1963)            |
|969    |4.42             |50   |African Queen, The (1951)   |
|3035   |4.411764705882353|17   |Mister Roberts (1955)       |
|1066   |4.409090909090909|11   |Shall We Dance (1937)       |
|905    |4.38             |25   |It Happened One Night (1934)|
+-------+-----------------+-----+----------------------------+
only showing top 5 rows

## Exercise 9 (10 ponts)
Complete the code below to save the Movies in your choice of genre, ordered by average rating, that received more than the threshold (10 for local mode, 100 for the cluster mode).  Replace ??? in the file name with the name of your genre.

In [70]:
output_path = "/storage/home/bje5256/work/Lab5/Comedy_sampled"
SortedFilteredSelectGenreAvgRating_DF.write.csv(output_path)

In [71]:
ss.stop()

# Exercise 10 (25 points)
Enter the following information based on the results of running your code (.py file) on large datasets in the cluster. 
- Submit your .py file for cluster mode.
- Submit your .out log file for a successful execution in the cluster mode - this should also contain the execution time.
- Submit your spark submission shell script (the .sh file)
- Take a screen-shot of your output directory after using `ls -al`
- Submit one partition file of the cluster mode result for the average rating.